
    * {

        margin: 0;
        padding: 0;
    }

    :root {

        --one: #FF0000;
        --two: rgb(51, 273, 58);
    }

    .one {

        background-color: var(--one);
    }

    .two {

        background-color: var(--two);
    }

    body {

        height: 100vh;
    }

    img {

        float: left;
        width: 55vw;
        height: 100vh;
    }

    .column {

        float: left;
        width: 40vw;
        height: 100vh;
    }